<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gymnasiummansystem.mapper.UserMapper">
    <select id="listUsers" resultType="com.gymnasiummansystem.entity.User">
        select * from user
    </select>
    
    <insert id="register" parameterType="com.gymnasiummansystem.entity.User">
        insert into user
        value (#{id},#{userName},#{password},#{gender},#{role},#{realName},#{citizenId},#{email},#{phoneNumber})
    </insert>

    <update id="updateUser" parameterType="com.gymnasiummansystem.entity.User">
        update user
        <set>
            <if test="userName != null and userName != ''">userName = #{userName},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="gender != null and gender != ''">gender = #{gender},</if>
            <if test="role != null and role != ''">role = #{role},</if>
            <if test="realName != null and realName != ''">realName = #{realName},</if>
            <if test="citizenId != null and citizenId != ''">citizenId = #{citizenId},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="phoneNumber != null and phoneNumber != ''">phoneNumber = #{phoneNumber},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from user where id = #{id}
    </delete>

    <select id="login" resultType="boolean">
        select case when count(*) > 0 then 'true' else 'false' end
        from user
        where userName = #{userName} and password = #{password}
    </select>

    <select id="findByUserName" resultType="com.gymnasiummansystem.entity.User">
        select * from user where userName = #{userName}
    </select>

    <select id="findById" resultType="com.gymnasiummansystem.entity.User">
        select * from user where id = #{id}
    </select>
</mapper>